---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const intro = `
Having experienced two financial crisis and witnessed severe hardship that investment losses through financial products may have on peoples' life, i.e. mental/emotional stress, family disputes, etc., we would like to accompany you in this difficult journey, specifically to ensure that your voices/concerns on potential mis-selling are heard by senior management of the financial institution or the authorities, thereby increasing your chances of getting compensation for your investment losses and a closure to such unpleasant experience.

Given our professional work experience, we are well-positioned to assist clients who are customers of wealth management or private banks operating in **Singapore** and **Hong Kong**.
`;
---

<Layout title="WealthGuard - Investment Recovery Specialists">
    <h1 class="mb-10">WealthGuard</h1>
    <p class="text-xl text-primary font-semibold mb-8">Investment Recovery & Mis-Selling Complaint Specialists</p>
    <Markdown content={intro} class="mb-10 text-lg" />
    <p>
        <a href="/about-our-services" class="btn btn-lg sm:min-w-64">Learn More About Our Services</a>
    </p>
</Layout>
