headersOrigin = "inline"
plugins = []
redirects = []

[images]
remote_images = []

[functions]

  [functions."*"]

[build]
publish = "."
command = ""

  [build.environment]

  [build.processing]

    [build.processing.css]

    [build.processing.html]

    [build.processing.images]

    [build.processing.js]

  [build.services]

[[headers]]
for = "/_astro/*"

  [headers.values]
  Cache-Control = "public, max-age=31536000, immutable"